
wechat/python/.idea/inspectionProfiles/profiles_settings.xml
wechat/python/.idea/misc.xml
wechat/python/.idea/python.iml
wechat/python/.idea/workspace.xml
wechat/python/.idea/modules.xml
wechat/python/CaptureGrade/CaptureGrade.pyc
wechat/python/result.html
wechat/python/CaptureGrade/Common.pyc

wechat/bind.html
wechat/bind.html
wechat/grade.html
wechat/test.html
wechat/value/parameter/CaptureGrade/term.txt
wechat/value/parameter/CaptureGrade/term.txt
wechat/value/parameter/CaptureGrade/term.txt

