*{
     margin: 0;
     padding:0;
 }


/*设置背景图片*/
body{
    background:url("../value/images/TimeTable_images/TimeTable.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
}


/*表格*/
table
{
    font-family:"宋体";
    width: 97%;
    border-collapse: collapse;
    /*position: absolute;*/
    /*position: fixed;*/
    /*margin-left: 5%;*/
    margin-top: 2%;
}
/*表头元素*/
th
{
    font-size:1.1em;
    text-align:center;
    padding-left: 4%;
    padding-right: 4%;
    /*background-color:black;*/
    opacity: 0.4;
    color: black;
    font-weight:lighter;
    border-style: none;
}

/*表格元素*/
td{
    text-align: center;
    color: black;
    font-size:1.2em;
    border-style:none;
    padding-top:1.5%;
    padding-bottom:1.5%;
    opacity: 0.4;
}
/*空白部分设置一个宽度*/
.space{
    width:15%;
}

.week{
    font-size:1.9em;
    text-align:center;
    /*background-color:black;*/
    opacity: 0.5;
    color: black;
    font-weight:lighter;
    margin-top: 2%;
}

