
*{
    padding: 0px;
    margin: 0px;
}

body{

    font-family:"华文琥珀";
    background: url(../value/images/verification_images/bind_background.jpg) no-repeat ;


}
/*大div标签的属性值*/
.submit_in{
    width: 50%;
    height: 40%;

    position: absolute;
    top: 35%;
    left: 15%;
    box-sizing: border-box;
}

/*给表单里的p标签先设置一个总的属性控制一下大小*/
.submit_in p{
    width: 100%;
    height: 8%;
    /*margin-left: 10%;*/
    font-size: 13px;
    /*font-weight:bold;*/
    line-height:100%;
    /*text-align: center;*/
    color: white;
    margin-top: 5%;
    margin-left: 10%;
}
.submit_in .text_schoolYear{
    margin-top: 5%;
}

.select_year{
    display: inline-block;
    width: 80%;
    height: 8%;
    margin-left: 10%;
    margin-top: 3%;
}

.select_term{
    display: inline-block;
    width: 80%;
    height: 8%;
    margin-left: 10%;
    margin-top: 3%;
}

#checkcode{
    display: inline-block;
    width: 78%;
    height: 8%;
    margin-left: 10%;
    margin-top: 7%;
}

#placeimg{
    width: 40%;
    height: 13%;
    border: groove;
    margin-left: 25%;
    margin-top: 5%;
}

#submit{
    opacity: 1;
    cursor: pointer;
    background-color:transparent;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bolder;
    line-height: 100%;
    text-align: center;
    margin-left: 50%;
    margin-top: 5%;
}






